.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 5px;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: white;
}

.nav p:hover {
  background: #ccc;

}

.nav p {
  padding: 10px;
}

.nav a {
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.nav a:hover {
  background: #ccc;
}

img {
  width: 100%
}

.fon {
  background: url("https://www.w3schools.com/w3images/hamburger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 650px;
}

.def {
  margin: 50px;
  font-size: 36px;
  color: lightslategrey;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.left,
.right {
  margin: 20px;
  width: 30%;
  line-height: 1.5
}

.left {
  position: relative;
  overflow: hidden;

}

.left img {
  transition: 0.5s;
  transform: scale(1.7);
}

.for {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left:hover img {
  transform: scale(1)
}

.right1:hover img {
  transform: scale(1)
}

.right1 {
  position: relative;
  overflow: hidden;
}

.right1 img {
  transition: 0.5s;
  transform: scale(1.2);
}

.forn {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

img {
  width: 100%;
  display: block;
}

.text {
  color: #ccc;
}

.right h1 {
  text-align: center
}

* {
  margin: 0
}

.right-p {
  text-align: center;
  letter-spacing: 5px;
  margin: 20px 0
}

.text {
  color: #ccc;
  margin: 10px 0;
}

span {
  background: #ccc;
  padding: 5px;
}

.col {
  display: flex;
  margin: 50px;
}

.left1 {
  padding: 20px;
  font-size: 20px;
}

img {
  width: 100%
}

.right1 {
  text-align: end;
}

.left1,
.right1 {
  margin-top: 10px;
  width: 30%;
}

.col {
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  margin-top: 5px;
}

.left1-p {
  padding: 30px 0;
  letter-spacing: 5px;
  font-size: 29px;
}

.left1 {
  width: 40%;
}

* {
  margin: 1 0;
}

.left2-p {
  font-size: 17px;
  letter-spacing: 5px;
  color: #ccc;
}

.right1 {
  width: 40%;
  margin-top: 10px;
}

.divv h2 {
  font-size: 40px;
}

.divv h3 {
  margin: 40px 0;
  font-size: 15px;
}

.divv h4 {
  font-size: 20px;
  color: #00f
}

.inp {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc
}

input {
  margin: 10px 0;
}

.send {
  padding: 4px;
  margin: 5px;
  background: white;
}

.s {
  background: #ccc;
  letter-spacing: 1.5px;
  font-size: 15px;
}

.ssd {
  margin-left: 50px;
}

.vb {
  background: #f1f1f1;
  padding: 40px;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .led {
    display: none;
  }

  .fon {
    padding-top: 200px;
  }

  .left {
    display: none;
  }

  .right {
    width: 100%;
  }

  .col {
    display: block;
  }

  .left1 {
    width: 90%;
  }

  .right1 {
    width: 100%;
  }

  .col {
    margin: 0px;
    margin-left: 0;
  }

  .right p {
    font-size: 22px;
    margin-top: 50px;
  }

  .right img {
    margin: 50px;
    width: 50%;
  }

  .ssd {
    margin-left: 0px;
    margin: 20px;
  }
}